{{- if .Values.elasticsearch.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: {{ .Values.global.namespace }}
  labels:
    app: elasticsearch
spec:
  type: {{ .Values.elasticsearch.service.type }}
  selector:
    app: elasticsearch
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.elasticsearch.service.httpPort }}
      targetPort: {{ .Values.elasticsearch.service.httpPort }}
    - name: transport
      protocol: TCP
      port: {{ .Values.elasticsearch.service.transportPort }}
      targetPort: {{ .Values.elasticsearch.service.transportPort }}
{{- end }}
